<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/ghost</string>
		<key>LANG</key>
		<string>en_US.UTF-8</string>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
	</dict>
	<key>Label</key>
	<string>com.airgenome.probe</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/ghost/Dev/hexa-lang/hexa</string>
		<string>run</string>
		<string>/Users/ghost/Dev/airgenome/modules/probe.hexa</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/ghost/.airgenome/probe.stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/ghost/.airgenome/probe.stdout.log</string>
	<key>StartInterval</key>
	<integer>300</integer>
	<key>ThrottleInterval</key>
	<integer>300</integer>
	<key>WorkingDirectory</key>
	<string>/Users/ghost/Dev/airgenome</string>
</dict>
</plist>
