<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.airgenome.genome-harvest</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>cd "$HOME/Dev/airgenome" &amp;&amp; "$HOME/Dev/hexa-lang/target/release/hexa" run modules/genome_harvest.hexa once &gt;&gt; "$HOME/Dev/airgenome/forge/harvest.log" 2&gt;&amp;1</string>
    </array>

    <key>StartInterval</key>
    <integer>3600</integer>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/tmp/airgenome-harvest.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/airgenome-harvest.err</string>

    <key>ThrottleInterval</key>
    <integer>60</integer>
</dict>
</plist>
