<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.airgenome.menubar</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>pgrep -f 'osascript.*airgenome-menubar' &amp;&amp; exit 0; DIR=/Users/ghost/.hx/packages/airgenome; STATE=/tmp/airgenome-state.json; CONFIG=$HOME/.airgenome/config.json; JS=/tmp/airgenome-menubar.js; sed -e "s|__STATE__|${STATE}|g" -e "s|__CONFIG__|${CONFIG}|g" -e "s|__DIR__|${DIR}|g" "$DIR/menubar_tpl.js" > "$JS" &amp;&amp; exec /usr/bin/osascript -l JavaScript "$JS"</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/ghost</string>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/ghost/.cargo/bin:/Users/ghost/.hx/bin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/airgenome.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/airgenome.err</string>
</dict>
</plist>
