[Unit]
Description=airgenome harvest 60s timer
Requires=airgenome-harvest.service

[Timer]
OnBootSec=30
OnUnitActiveSec=60
AccuracySec=5

[Install]
WantedBy=timers.target
